//fonts
$primary-font: 'STIX Two Text',
serif;
//colors
$text-color: #000;
$link-color: #3A5F99;
$bg-color:#F6F8F9;
$heading-color: #134A78;
$border-color: #134A78;
//sizes
$text-size: 1.6rem;
$main-heading-size: 5rem;
$heading-size: 3rem;
$width-photo: 30rem;